#A{
    width: 100px;
    height: 150px;
    border: 1px solid;
    font-size: 40px;
    float: left;
    margin-left: 10px;

}
#B{
    width: 100px;
    height: 150px;
    border: 1px solid;
    font-size: 40px;
    float: left;
    margin-left: 10px;
}
#C{
    width: 100px;
    height: 150px;
    border: 1px solid;
    font-size: 40px;
    float: left;
    margin-left: 10px;
}
#D{
    width: 100px;
    height: 150px;
    border: 1px solid;
    font-size: 40px;
    float: left;
    margin-left: 10px;
}
#E{
    width: 100px;
    height: 150px;
    border: 1px solid;
    font-size: 40px;
    float: left;
    margin-left: 10px;
}
#F{
    width: 100px;
    height: 150px;
    border: 1px solid;
    font-size: 40px;
    float: right;
    margin-left: 10px;
    background-color: black;
    color: white;
}