.container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 40px; 
  position: relative;
}

.container > div {
  width: 100px;
  height: 150px;
  background-color: #ddd;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  font-size: 24px;
}

.a {
margin-left: 10px;
  background: yellow;
  cursor: pointer;
}

.b {
  background-color: #ddd;
  
}

.c {
  background-color: #eee;
}

.d {
  background-color: #eee;
  position: relative;
  left: -30px; 
  margin-right: 10px;
  background: #8caaf3;
  color: white;
}

.e {
  background-color: #eee;
  margin-left: 10px;
}

.f {
  background-color: #ddd;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 10px;
  box-sizing: border-box;
}
